@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');

body {
    font-family: 'DynaPuff', cursive;
    background: #f7f7f7;
    margin: 0;
}
*{
    font-family: 'DynaPuff', cursive;

}
    .pink.box {
        display: flex;
        background: #E4D0D0;
        margin: 50px auto  ;
        flex-direction: column  ;

    }

    .box {
        backdrop-filter: blur(10px);
        padding: 50px;
        width: 500px;
        border-radius: 20px;
        box-shadow: inset 0 -1em 1em rgba(0, 0, 0, 0.1), 0.1em 0.1em 1em rgba(0, 0, 0, 0.1);
        background: #d1e2bc;
    }

    .box h1 {
        text-align: center;
    }
    @media screen and (max-width:670px) {
        .pink.box {

         height: 50%;
    
        }
        .box {
            backdrop-filter: blur(10px);
            padding: 0px;
            width: 100%;
            border-radius: 0;
           
            background: #d1e2bc;
        }
        
    }
    
    .form__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .form__group input, input[name="category"] {
        width: 100%;
        border: none;
        padding: 10px;
        padding: 10px 0;
        border-radius: 10px;
    }

    .form__group label, .box label {
        text-align: start;
        padding-left: 10px;
        font-size: 14px;
        color: #333;
    }
    .box a{
        text-decoration: none;
        font-weight: bold;
        color: #bb8a81;
        transition: all 0.3s ease;
    
    }
    .box a:hover {
        color: #40513B;
    }

    .comment-textarea {
        resize: none;
        width: 100%;
        height: 500px;
        border-radius: 5px;
        padding: 0;
        border: none;
    }
     .box a:hover {
        color: #40513B;
    }
    .bg.l{
        position: fixed;
        bottom: 0;
        z-index: -1;
        left: 0;
    }
    .bg.r{
        position: fixed;
        top: 0;
        z-index: -1;
        right: 0;
        transform: rotate(180deg);
    }